
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,200;0,300;0,500;0,600;0,700;0,800;1,300;1,500&display=swap');

:root {
    --primary-50: rgba(238, 252, 253, 1);
    --secondary-950: rgba(22, 42, 9, 1);
    --primary-950: rgba(14, 47, 62, 1);
    --secondary-400: rgba(141, 213, 70, 1);
     --secondary-800: rgb(128, 177, 80);
    --text-small-normal-font-family: "Roboto", Helvetica, sans-serif;
    --text-title:"Poppins", sans-serif;
    --text-content:"Prompt", sans-serif;
    --text-small-normal-font-weight: 400;
    --text-small-normal-font-size: 14px;
    --text-small-normal-letter-spacing: 0px;
    --text-small-normal-line-height: 150%;
    --variable-collection-brand-black: rgba(22, 25, 21, 1);
    --primitives-color-grey-700: rgba(74, 85, 104, 1);
    --primitives-color-grey-900: rgba(26, 32, 44, 1);
  }


  .contact-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact-title h2{
    color: #0E2F3E;
    font-size: 32px;
    font-weight: 700;
    font:var(--text-title)
  }

  .contact-title p{
    max-width: 650px;
    font-family:var(--text-content);
    font-weight: 300;
  }

  @media (max-width: 768px){

  }