
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,200;0,300;0,500;0,600;0,700;0,800;1,300;1,500&display=swap'); */

:root {
    --primary-50: rgba(238, 252, 253, 1);
    --secondary-950: rgba(22, 42, 9, 1);
    --primary-950: rgba(14, 47, 62, 1);
    --secondary-400: rgba(141, 213, 70, 1);
     --secondary-800: rgb(128, 177, 80);
    --text-small-normal-font-family: "Roboto", Helvetica, sans-serif;
    --text-title-font:"Poppins", sans-serif;
    --text-title-color:#0E2F3E;
    --text-content-font:"Prompt", sans-serif;
    --text-small-normal-font-weight: 400;
    --text-small-normal-font-size: 14px;
    --text-small-normal-letter-spacing: 0px;
    --text-small-normal-line-height: 150%;
    --variable-collection-brand-black: rgba(22, 25, 21, 1);
    --primitives-color-grey-700: rgba(74, 85, 104, 1);
    --primitives-color-grey-900: rgba(26, 32, 44, 1);
  }


  /* CONTACT PAGE STYLING */

  .contact-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact-title h2{
    color: var(--text-title-color);
    font-size: 32px;
    font-weight: 700;
    font-family:var(--text-title-font)
  }

  .contact-title p{
    max-width: 650px;
    font-family:var(--text-content-font);
    font-weight: 300;
    text-align: center;
  }

  .contact-form{
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
  }
  .contact-location{
    color: var(--text-title-color);
  }

  .contact-location p{
    max-width: 300px;
  }

  .contact-input{
    min-width: 400px;
  }

  .contact-input fieldset{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    border:none;
  }

  .contact-input input{
    background-color: var(--primary-50);
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-family: var(--text-title-font);
    color: var(--text-title-color);
    font-size: 14px;
    margin: 4px 0;
    border: 2px solid white;
  }

  .contact-input input:active{
    border: 2px solid var(--secondary-400)
  }

  .contact-input input:hover{
    border: 2px solid var(--secondary-400)
  }

  .contact-input button{
    border-radius: 11px;
    margin-top:7.29px;
    background-color: var(--secondary-400);
    width: 200px;
    border:none;
    padding: 20px;
    align-self: center;

  }

   /* WHITELIST PAGE */

   .whitelist-grid{
    display: grid;
    grid-template-columns: 4fr 6fr;
    gap:40px;
  }

  .whitelist-sidebar{
    display: grid;
    visibility: visible;
    grid-template-columns: 2fr 8fr;
    margin-top: 40px;
  }

  .whitelist-sidebar ul{
    text-decoration: none;
    list-style: none;
  }

  .whitelist-selection{
    display: flex;
    gap:20px;
    padding:0;
  }

  .whitelist-selection li{
    display: flex;
    align-items: center;
    gap:15px;
    justify-content: flex-start;
  }

  .whitelist-radio input{
    width:20px;
    height: 20px;
  }

  .whitelist-main #whitelist-form-2{
    display: none;
  }

  @media (max-width: 768px){
    .contact-form{
      flex-direction: column;
    }

    .contact-input{
      margin: 40px 0;
    }

    /* WHITELIST */
    .whitelist-grid{
      grid-template-columns: 1fr;
    }

    .whitelist-sidebar{
      display: none;
      visibility: hidden;
    }
  }

 